<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container jumbotron">
    <h1 class="text-center text-primary">Vasanth Movies Search</h1>
</div>


<form class="d-flex justify-content-center" action="/result" method="GET">
    <div class="form-group col-3">
        <input class="form-control border border-primary" type="text" placeholder="Movie name" name="search">
        
    </div>
    <div class="form-group col-2">
        <input class="btn btn-primary form-control"  value="Find" type="submit">
    </div>

</form>
<div class="position-absolute fixed-bottom card-footer bg-primary">
    By:Vasanth maddyy
    <p class="float-right">Contact us: mahaperiyavar100@gmail.com</p>
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>